@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Farm Central</h1>
    <h1 class="display-4"></h1>
    <h1 class="display-4">Feel free to browse through our website and explore our options.</h1>
    <p>For a brief overview about this web application, click onto the link. <a href="https://docs.google.com/document/d/17uiE2ErcUI9_4Pdvtyhf2K45S0hhdG4UB5-P2-LDi8U/edit?usp=sharing">Brief Overiew </a>Enjoy.</p>
    <p>Please login or register to access more features on this site.</p>
</div>
